22<!DOCTYPE html>
<html>  
    
        <body>
        	<form>
        		<input type="text" name="name" id="name" placeholder="name">
        		<br>
        		<br>
        		<input type="number" name="username_or_email"id="username_or_email" placeholder="age">
        		br
        		<input type="text" name="email"id="email" placeholder="email">
        		<br>
        		<br>
        		<label>Password : </label>
        		<input type="password" name="password" id=" password " placeholder="password">
        		<br>
        		<br>
        		<label>Gender  : </label>
        		<select name="gender" id="gender">
        			<option value = "M">Male</option>
        			<option value = "F">Female</option>
        		</select>
            </form>
            </body>
    </html>